/*milaha log*/
body,
input,
select,
textarea,
button,
.ui-btn {
    font-size: 14px;
    line-height: 1.3;
    font-family: Roboto /*{global-font-family}*/;
}
.ui-radio {
    display: inline;
    padding-right:20px;
}
.signin
{

    margin: 0px auto 0;
    background-color: rgba(232, 231, 238, 0.80);
    padding: 40px;
    /* border: 2px ridge rgba(238, 238, 238, 0.13); */
    border-radius: 0px;
    /*    -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
        -webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);*/
    border-bottom: none;
    /*    margin: 80px auto 0;*/
    padding: 20px;
}
input.user {
    width: 100%;
    padding: 10px 10px 10px 20px;
    /*    background: rgba(23, 24, 25, 0.29) url("../img/user.png") no-repeat 10px 10px;*/
    border: 1px solid #7B7474;
    border-radius: 0px;
    background-color: white;
    font-size: 18px;
    color: #000 !important;
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
input.invoice {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #7B7474;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
    /*    letter-spacing: 2px;*/
    background: rgba(23, 24, 25, 0.29);
}
input.input_received {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #7B7474;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
    /*    letter-spacing: 2px;*/
    background: rgba(23, 24, 25, 0.29);
}
input.jobno {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    font-size: 14px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
    /*    letter-spacing: 2px;*/
    /*    background: rgba(23, 24, 25, 0.29);*/
}
input.batchno {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    font-size: 14px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
    /*    letter-spacing: 2px;*/
    /*    background: rgba(23, 24, 25, 0.29);*/
}
input.pass {
    width: 100%;
    padding: 10px 10px 10px 20px;
    /*    background: rgba(23, 24, 25, 0.29) url("../img/pass.png") no-repeat 11px 10px;*/
    background-color: white;
    border: 1px solid #7B7474;
    border-radius: 0px;

    font-size: 18px;
    color: #000 !important;
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
    margin-left: 68px;
    outline: none;
    border: 1px solid #7B7474;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #ED650F;
    /*    background-color: rgba(23, 24, 25, 0.24);*/
    /*    background: url("../img/login_button.png") no-repeat 0px 0px;*/
    height:45px;
/*    border-radius: 5px;*/
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgba(11, 20, 128, 0.24);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
textarea
{
    width:100%;
    background: rgba(23, 24, 25, 0.29);
    border: 1px solid #7B7474;
    color:#FFF;
}
.commonbckg
{
    background-color: rgba(56, 49, 49, 0.13);
    padding: 40px;
    /* border: 2px ridge rgba(238, 238, 238, 0.13); */
    border-radius: 0px;
    -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    -webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    /*    box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);*/
    border-bottom: none;
    /*    margin: 0px 0px 0px 0px;*/
    padding: 20px;
    margin:50px auto 0;
}
input.form-control
{
    width: 100%;
    outline: none;
    border: 1px solid #7B7474;
    font-size: 13px;
    color: #FFFFFF;
    background-color: rgba(23, 24, 25, 0.24);
    border-radius: 5px;
    cursor: pointer;
    padding:6px 5px
}
input.box
{
    width: 100%;
    outline: none;
    border: 1px solid #7B7474;
    font-size: 13px;
    background-color: #F2F2F2;
    cursor: pointer;
    padding:6px 5px
}
.form-group
{
    margin-bottom: 0px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
    border:none; 
    line-height: 15px;
    height: 40px;
    padding: 10px 0px 10px 0px;
    font-size: 12px;
}
.table-bordered
{
    border:none
}
.ui-radio input
{
    position: inherit;
    left: 0.3em;
    top: 0;
    width: 12px;
    height: 12px;
    margin: 3px 0 0 0;
    outline: 0!important;
    z-index: 1;
}
.ui-loader
{
    display:none;
}
.form-control[readonly]
{
    background-color: rgba(23, 24, 25, 0.24);

}

.btnLogin
{
    background-color: #F8661D;
    box-shadow: 0px 0px 15px 0px black inset;
}

.eventuh1
{
    text-align: center;
    color:#511c84;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000;
    padding:12px;
}

.eventuh2
{
    text-align: center;
    border: 0px solid;
    background-color: #511c84;
    padding:12px;
    box-shadow: 0px 3px #FE6E25;
    margin-top: 15px;
}
.eventuh3
{
    margin: 0px;
    text-align: center;
    border: 0px solid;
    background-color: #FE6E25;
    padding:12px;
    margin-top: 15px;
}
.bheading3 p
{

}
.event_obj
{

    border-bottom: 1px solid #FFFFFF;
    color: black;
}

.tabledata
{
    background: #E5E5E5;
}

.jobid
{
    text-align: center;
    padding: 10px;
}
.pbar
{
    text-align: center;
    margin:0 auto;
}

.logout
{
    margin-top: -5px;
}

.logoutb
{
    color:#ED650F;
}